.prod {
    width: 100%;
    object-fit: contain;
    height: 400px;
}
#hero {
    background: rgba(0,0,0,0.5) url('images/pexels-los-muertos-crew-7947722.jpg') no-repeat center center / cover;
    background-blend-mode: overlay;
}
#hero .row {
    min-height: 60vh;
}
#hero h1 {
    font-size: 3.5em;
}